{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'select_employee' %}">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_employee">Select an Employee</label>
        <select class="form-control" id="id_employee" name="employee">
            <option value="" disabled selected>Choose an employee</option>
            {% for employee in employees %}
                <option value="{{ employee.team_code }}">{{ employee.first_name }} ({{ employee.team_code }})</option>
            {% endfor %}
        </select>
    </div>
</br>
    <div class="form-group">
        <label for="attendance">Attendance Status</label><br>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="present" name="attendance_status" value="present">
            <label class="form-check-label" for="present">Present</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="absent" name="attendance_status" value="absent">
            <label class="form-check-label" for="absent">Absent</label>
        </div>
    </div>
</br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
