{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        
    <div class="container mt-4">
        <h1 class="text-center mb-4">Present Today</h1>

        <div class="table-responsive">
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Entry Time</th>
                        <th scope="col">Skill Set</th>
                        <th scope="col">Attendance History</th>
                    </tr>
                </thead>
                <tbody>
                    {% if today_present %}
                        {% for attend in today_present %}
                            <tr>
                                <th scope="row">{{ attend.employee.id }}</th>
                                <td>{{ attend.employee.first_name }} {{ attend.employee.last_name }}</td>
                                <td>{{ attend.employee.position }}</td>
                                <td>{{ attend.time }}</td>
                                <td>{{ attend.employee.skills }}</td>
                                <td><a href="{% url 'home' %}" class="btn btn-outline-dark btn-sm">View</a></td>
                            </tr>                 
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">No employees present today.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% else %}
        <script>
            window.location.href = "{% url 'login_user' %}";
        </script>
    {% endif %}

{% endblock %}
